* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(../../assets/img/plane.jpg);
  background-size: cover;
  height: 475px;
  margin: 0;
  position: relative;
}
header nav {
  color: #fff;
}
header nav .left__navbar {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .left__navbar h1 {
  font-size: 24px;
}
header nav .right__navbar .dropdown__menu-idiom {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 15px;
}
header nav .right__navbar .dropdown__menu-idiom p {
  font-size: 18px;
}
header nav .right__navbar .dropdown__menu-idiom .arrow-down {
  width: auto;
  height: 15px;
}
header nav .right__navbar .right__navabar-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .right__navbar .right__navabar-text p {
  padding: 7px;
  font-size: 14px;
}
header nav .right__navbar .right__navabar-text p:first-child {
  text-decoration: underline;
}
header nav .text__left {
  padding: 10px;
}
header nav .text__left p {
  font-size: 15px;
}
header nav .text__left p:first-child {
  font-size: 20px;
}
header nav .text__left button {
  border-radius: 30px;
  margin-top: 15px;
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: #FB3640;
  border-style: none;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.flights {
  padding: 15px;
}
.flights .Offers {
  position: relative;
}
.flights .Offers p {
  color: #247BA0;
  font-size: 20px;
}
.flights .Offers hr {
  text-align: left;
  position: absolute;
  top: 5px;
  left: 60px;
  width: 80%;
  color: #605F5E;
}
.flights .container_cards {
  overflow: hidden;
}
.flights .container_cards .cards_flights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flights .container_cards .cards_flights .flight {
  margin-top: 15px;
}
.flights .container_cards .cards_flights .flight img {
  border-radius: 16px;
  width: 233px;
  height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
}
.flights .container_cards .cards_flights .flight .offer_text {
  border-radius: 0 0 16px 16px;
  background-color: rgba(0, 0, 0, 0.6784313725);
  opacity: 100%;
  padding: 0 10px 10px 10px;
}
.flights .container_cards .cards_flights .flight .offer_text-moscow {
  position: absolute;
  width: 233px;
  height: 85px;
  top: 138px;
}
.flights .container_cards .cards_flights .flight .offer_text-puertorico {
  position: absolute;
  width: 233px;
  height: 85px;
  top: 362px;
}
.flights .container_cards .cards_flights .flight .offer_text-honduras {
  position: absolute;
  width: 233px;
  height: 85px;
  top: 588px;
}
.flights .container_cards .cards_flights .flight .offer_text p {
  color: #fff;
}
.flights .container_cards .cards_flights .flight .offer_text p:nth-child(1) {
  font-weight: 100;
}
.flights .container_cards .cards_flights .flight .offer_text p:nth-child(2) {
  font-weight: bold;
  text-align: right;
}
.flights .container_cards .division-destination .container-division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flights .container_cards .division-destination .container-division .hr-division {
  width: 50%;
  margin-top: 20px;
}
.flights .container_cards .division-destination .container-division .text-division p {
  font-weight: bold;
  color: #605F5E;
  font-size: 16px;
  margin-top: -5px;
}
.flights .container_cards .menu_flights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.flights .container_cards .menu_flights .menu_flights-card {
  height: 380px;
  width: 233px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1607843137);
}
.flights .container_cards .menu_flights .menu_flights-card .menu_flights-title {
  text-align: center;
  color: #605F5E;
  opacity: 1;
  font-size: 18px;
  margin-top: 30px;
}
.flights .container_cards .menu_flights .menu_flights-card .menu_flights-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1607843137);
  display: flex;
  align-items: center;
  padding: 5px;
}
.flights .container_cards .menu_flights .menu_flights-card .menu_flights-text .arrow-right {
  margin-left: 10px;
}
.flights .container_cards .menu_flights .menu_flights-card .menu_flights-text p {
  margin-left: 10px;
}
.flights .container_cards .menu_flights .menu_flights-card .menu_flights-text-final {
  border-bottom: none;
}

footer {
  background-color: #0A2463;
}
footer .social__media-container {
  border: 2px solid red;
}
footer .social__media-container .social__media-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}/*# sourceMappingURL=main.css.map */