@use './index' as *;
header{
    background-image: url(../../assets/img/plane.jpg);
    background-size: cover;
    height: 475px;
    margin: 0;
    position: relative;
    nav{
        color: $primary-color-text;
        .left__navbar{
            padding: 12px;
            @include flexCenter(row, center, center);
            h1 {
                font-size: 24px;
            }
        }
        .right__navbar{
            .dropdown__menu-idiom{
                /* border: 2px solid red; */
                @include flexCenter(row, center, center);
                position: absolute;
                top: 0;
                right: 15px;
                p {
                    font-size: 18px;
                }
                .arrow-down{
                    width: auto;
                    height: 15px;
                }
            }
            .right__navabar-text{
                @include flexCenter(row, center, center);
                p{
                    padding: 7px;
                    font-size: 14px;
                    &:first-child{
                        text-decoration: underline;
                        
                    }
                }
                
            }
            
        }
        .text__left {
            padding: 10px;
            p{
                font-size: 15px;
                &:first-child{
                    font-size: 20px;
                }
            }
            button {
                border-radius: 30px;
                margin-top: 15px;
                width: 150px;
                height: 40px;
                color: $primary-color-text;
                background-color: $primary-button;
                border-style: none;
                padding: 15px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }

}